body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.box{
	position: relative;
	width: 400px;
	height: 600px;
	background-image: url(https://aomine1745.github.io/Img/20.jpg), url(../img/crushed.jpg);
	background-size: cover;
	transition: .5s;
}
.box:hover{
	background-blend-mode: color-burn;
	filter: grayscale(1);
}